.adminHeader {
  background-color: #f2f2f2;
}
.adminNav {
  display: flex;
  justify-content: center;
}
.adminNav ul {
  display: flex;
  gap: 10px;
}
.adminNav ul li {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}
.adminNav ul li a {
  color: black;
}

.adminNav ul li:hover {
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
}
.activeTab {
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
}
.AdminCrossIcon {
  display: none;
}
.adminNavIcon {
  display: none;
}

.newPost {
  background-color: #f8f8f8;
  padding: 20px;
}

.newPostContainer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.newPostContainer .title {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.newPostContent {
  padding: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputGroup input,
.inputGroup textarea,
.inputGroup select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.inputGroupB {
  display: flex;
  gap: 10px;
}
.inputGroupB input {
  width: fit-content;
}
.uploadText {
  margin-top: 5px;
  color: #666;
}

.checkbox {
  display: inline-block;
  margin-left: 5px;
}

.categories {
  margin-bottom: 10px;
}

.submitButton button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton button:hover {
  background-color: #2980b9;
}

/* posts */
.allPostsContainer {
  background-color: #f8f8f8;
  padding: 20px;
}

.allPostsContent {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.allPostsContent .title {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.filterOptions {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.dateSearchSystem input,
.searchSystem input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.postsList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 20px;
}
.postsList .post {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.postsList .post .postImg {
  position: relative;
}
.postsList .post .postImg img {
  filter: blur(0.5px);
}
.postsList .post .postImg .bannerTag {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: #002244;
  color: white;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.postsList .post .body .categoryTag {
  text-transform: capitalize;
  font-size: 14px;
}
.postsList .post .body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.postsList .post .body h3 {
  font-size: 14px;
}
.postsList .post .body p {
  font-size: 14px;
}
.postsList .post .body .commentsButton {
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: #2980b9;
  color: white;
  cursor: pointer;
}
.postsList .post .body .editButton {
  background-color: #3498db;
  color: #ffffff; 
  transition: all 0.3s;
  cursor: pointer;
}
.postsList .post .body .editButton:hover {
  background-color: #1f618d; 
}

.postsList .post .body .deleteButton {
  background-color: #e74c3c; 
  color: #ffffff; 
  transition: all 0.3s;
  cursor: pointer;
}
.postsList .post .body .deleteButton:hover {
  background-color: #c0392b; 
}
@media (max-width: 500px) {
  .filterOptions {
    flex-direction: column;
    gap: 1rem;
  }
  .newPostContainer .title {
    font-size: 12px;
  }
  .AdminCrossIcon {
    display: block;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 1.3rem;
  }
  .adminNavIcon {
    display: block;
    padding: 10px;
    font-size: 18px;
  }
  .adminNav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: white;
    z-index: 99;
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
    left: -100%;
    transition: all 0.3s;
  }
  .adminNav.activeAd {
    left: 0;
  }

  .adminNav ul {
    flex-direction: column;
    margin-top: 3rem;
  }
  .adminNav ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/* comments page */

.commentsPage {
  background-color: #f8f8f8;
  padding: 20px;
}

.commentsPage .title {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.commentsContainer {
  margin-top: 20px;
}

.commentS {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
}

.commentDetails {
  padding: 15px;
}

.commentDetails h3 {
  margin-bottom: 5px;
}

.repliesContainer {
  background-color: #f9f9f9;
  padding: 15px;
}

.replyS {
  border-top: 1px solid #ddd;
  padding: 15px 0;
}

.replyDetails {
  padding: 15px;
}

.replyDetails h4 {
  margin-bottom: 5px;
}
.commentButtons,
.replyButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.commentButtons button,
.replyButtons button {
  background-color: #2ecc71;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.commentButtons button:hover,
.replyButtons button:hover {
  background-color: #27ae60;
}
/* message */
.messages {
  background-color: #f8f8f8;
  padding: 20px;
}
.messagesContainer .title {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.messagesContent {
  margin-top: 20px;
}
.messagesContent .message {
  border: 1px solid #ddd;
  padding: 10px;
}
.message .deleteButton {
  margin-top: 10px;
}
.message .deleteButton button {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.tagsContent {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.tagsContent button {
  border: none;
  width: 27px;
  height: 27px;
  background-color: red;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.tagsContent button:hover {
  background-color: rgb(158, 4, 4);
}

@media (max-width: 578px) {
  .tagsContainer {
    flex-direction: column;
  }
  .tagsContent {
    gap: 0px;
    justify-content: space-between;
  }
}
.newCategory {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
  display: none;
}
.newCategory.activeCat {
  display: block;
}

.uploadedImg {
  position: relative;
  width: fit-content;
}
.uploadedImg button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;
}
.uploadedImg button:hover {
  background-color: rgb(130, 9, 9);
}
