.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;
}
.logImg {
  width: 100px;
  object-fit: contain;
  position: absolute;
  top: -200px;
}
.loginPage h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Adjust width as needed */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

.form label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
  display: none;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}
.form .redInput {
  border: 1px solid red;
}
.form .redInput::placeholder {
  color: red;
}

.form button {
  padding: 10px;
  background-color: #16447f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #0e3360;
}
.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top-color: #16447f;
  animation: spin 1s infinite linear;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.success {
  background-color: #4caf50 !important;
  cursor: default !important;
}
.success:disabled {
  cursor: default;
}
