/* .adminLoginPage{
  background-image: url('https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: 100vh;
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
} */
.loginImg .mainImg {
  width: 100%;
  height: 100%;
  filter: blur(3px) brightness(70%);
  position: fixed;
  object-fit: cover;
}
.ALogo {
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 350px;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
}
.loginContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* border: 1px solid red;   */
  width: 400px;
}

.loginBtn button {
  padding: 8px 12px;
  border: none;
  background-color: rgb(41, 173, 225);
  color: white;
  letter-spacing: 1.1px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 602px) {
  .ALogo {
    width: 300px;
  }
  .loginContainer {
    width: 300px;
  }
}
@media (max-width: 344px) {
  .ALogo {
    width: 200px;
  }
  .loginContainer {
    width: 200px;
  }
}
