.adminCommentsOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.adminCommentsContainer {
  position: absolute;
  width: 70%;
  max-height: 500px;
  background-color: white;
  z-index: 99999999999;
  border-radius: 10px;
  overflow-y: scroll; /* Add vertical scrollbar */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #3498db white; /* For Firefox */
}

/* Custom styling for WebKit (Chrome, Safari, etc.) */
.adminCommentsContainer::-webkit-scrollbar {
  width: 5px; /* Set width for the scrollbar */
}

.adminCommentsContainer::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Set color for the scrollbar thumb */
  border-radius: 4px; /* Optional: Round the thumb corners */
}

.adminCommentsContainer::-webkit-scrollbar-track {
  background-color: white; /* Set color for the scrollbar track */
}
.adminCrossIcon {
  position: fixed;
  right: 16%;
  padding: 10px;
}
.adminCrossIcon i {
  font-size: 20px;
  color: white;
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.adminCrossIcon i:hover {
  background-color: #222;
}
@media (max-width: 497px) {
  .adminCommentsContainer {
    width: 100%;
  }
  .adminCrossIcon {
    right: 2%;
  }
}


.commentCrossIcon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.replyCrossIcon i {
  cursor: pointer;
}
.replyAreaTitleAdmin {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
