.comments {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.comments h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.comment {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.commentUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.commentName {
  font-weight: bold;
  color: #333;
}

.commentDate {
  color: #777;
  font-size: 14px;
}

.commentText {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.replyButton {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #16447f;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.replyButton:hover {
  background-color: #0e3360;
}

.replies {
  padding-left: 20px;
  margin-top: 15px;
}

.reply {
  margin-top: 10px;
  padding: 10px;
  background-color: #e9ecef;
  border-left: 3px solid #16447f;
}

.form {
  margin-top: 20px;
}

.input {
  margin-bottom: 15px;
}

.input input,
.input textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.input input:focus,
.input textarea:focus {
  border-color: #16447f;
  outline: none;
}

.comments .inputMsg {
  border-color: red;
}

.addComment textarea {
  resize: none;
  height: 120px;
}

.addComment button {
  padding: 10px 14px;
  background-color: #16447f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.addComment button:hover {
  background-color: #0e3360;
}

/* Responsive Design */
.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top-color: #16447f;
  animation: spin 1s infinite linear;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.success {
  background-color: #4caf50 !important;
  cursor: default !important;
}
@media (max-width: 768px) {
  .addComment {
    padding: 15px;
  }

  .addComment button {
    width: 100%;
    text-align: center;
  }
  .commentUser {
    flex-direction: column;
    align-items: flex-start;
  }

  .replyButton {
    font-size: 12px;
    padding: 4px 8px;
  }

  .commentText {
    font-size: 14px;
  }
}
