.pageLayout {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}

.pageLayout .pageLayoutContent {
  width: 70%;
}
.pageLayout .sidebar {
  width: 30%;
}
@media (max-width: 992px) {
  .pageLayout {
    flex-direction: column;
  }
  .pageLayout .pageLayoutContent {
    width: 100%;
  }
  .pageLayout .sidebar {
    width: 100%;
  }
}
.heroSection {
  display: flex;
  gap: 10px;
}
.heroSection .swiper-wrapper {
  width: 33.5%;
}
.heroSection .heroBoxes {
  width: 67.5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-style-one {
  position: relative;
}
.post-style-one .body {
  position: absolute;
  bottom: 0px;
  color: white;
  left: 0px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.heroSection .swiper-wrapper .post-style-one .body h3 {
  font-size: 13px;
}
.heroSection .swiper-wrapper .post-style-one .body h1 {
  font-size: 18px;
  font-weight: 800;
}
.heroSection .swiper-wrapper .post-style-one .body p {
  font-size: 13px;
}
.heroSection .heroBoxes > div .body h3 {
  font-size: 10px;
}
.heroSection .heroBoxes > div .body h1 {
  font-size: 15px;
  font-weight: 800;
}
.heroSection .heroBoxes > div .body p {
  font-size: 10px;
}

@media (max-width: 992px) {
  .heroSection {
    flex-direction: column;
  }
  .heroSection > div {
    width: 100%;
  }
  .heroSection .heroBoxes {
    flex-direction: row;
    width: 100%;
  }
  .heroSection .heroBoxes > div {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .heroSection .swiper-wrapper .post-style-one .body h1 {
    font-size: 14px;
  }
  .heroSection .heroBoxes{
    padding: 16px;
  }
  .heroSection .heroBoxes > div {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* padding: 10px; */
  }
  .heroSection .heroBoxes > div .body {
    /* position: static; */
    /* color: white; */
  }
}
@media (max-width: 388px) {
  .heroSection .swiper-wrapper .post-style-one .body h1 {
    font-size: 10px;
  }
  .heroSection .heroBoxes {
    flex-direction: column;
  }
  .heroSection .heroBoxes > div {
    width: 100%;
  }
  .heroSection .heroBoxes > div .body h3 {
    font-size: 8px;
  }
  .heroSection .heroBoxes > div .body h1 {
    font-size: 8px;
  }
  .heroSection .heroBoxes > div .body p {
    font-size: 8px;
  }
}

/* hero section end */

/* section two  */
.sectionContainer {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.sectionContainerTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sectionContainerTitle h3 {
  font-weight: 900;
  text-transform: uppercase;
}
.sectionContainerTitle p {
  transition: all 0.3s;
  cursor: pointer;
}
@media(max-width: 500px){
  .sectionContainerTitle h3{
    font-size: 14px;

  }
}
.sectionContainerTitle p:hover {
  color: #00c0f3;
  text-decoration: underline;
  letter-spacing: 1.3px;
}
.section2MainContainer .section2Container > .post-style-one .body h3 {
  font-size: 1rem;
}
.section2MainContainer .section2Container > .post-style-one .body h1 {
  font-size: 1.5rem;
}
.section2MainContainer .section2Container .section2Boxes {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section2MainContainer .section2Container .section2Boxes > div {
  display: flex;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
}
.section2MainContainer .section2Container .section2Boxes > div .body h3 {
  font-size: 12px;
}
.section2MainContainer .section2Container .section2Boxes > div .body h1 {
  font-size: 14px;
}
.section2MainContainer .section2Container .section2Boxes > div .body p {
  font-size: 12px;
}

@media (max-width: 768px) {
  .section2MainContainer .section2Container .section2Boxes > div .body h3 {
    font-size: 10px;
  }
  .section2MainContainer .section2Container .section2Boxes > div .body h1 {
    font-size: 12px;
  }
  .section2MainContainer .section2Container .section2Boxes > div .body p {
    font-size: 10px;
  }
}
@media (max-width: 482px) {
  .section2MainContainer .section2Container > .post-style-one {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
  }
  .section2MainContainer .section2Container > .post-style-one .body {
    position: static;
  }
  .section2MainContainer .section2Container > .post-style-one .body h3 {
    font-size: 12px;
  }
  .section2MainContainer .section2Container > .post-style-one .body h1 {
    font-size: 14px;
  }
  .section2MainContainer .section2Container > .post-style-one .body p {
    font-size: 12px;
  }
  .section2MainContainer .section2Container .section2Boxes {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section2MainContainer .section2Container .section2Boxes > div {
    flex-direction: column;
  }
}

@media (max-width: 417px) {
  .section2MainContainer .section2Container .section2Boxes {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* section two end  */
/* section 3  */
.section3 {
  margin-top: 1rem;
}
.section3Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.section3Container > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
}
.section3Container > div .body {
  margin-top: 5px;
}
.section3Container > div .body h3 {
  font-size: 12px;
}
.section3Container > div .body h1 {
  font-size: 14px;
}
.section3Container > div .body p {
  font-size: 12px;
}
@media (max-width: 768px) {
  .section3Container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 417px) {
  .section3Container {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* section 3 end */

/* section 4  */
.section4 {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}
.section4 .section4Container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section4 .section4Container > .post-style-one .body h3 {
  font-size: 14px;
}
.section4 .section4Container > .post-style-one .body h1 {
  font-size: 14px;
}
.section4 .section4Container > .post-style-one .body p {
  font-size: 14px;
}
.section4 .section4Container .section4Boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.section4 .section4Container .section4Boxes > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
}
.section4 .section4Container .section4Boxes > div .body h3 {
  font-size: 10px;
}
.section4 .section4Container .section4Boxes > div .body h1 {
  font-size: 10px;
}
.section4 .section4Container .section4Boxes > div .body p {
  font-size: 10px;
}
@media (max-width: 992px) {
  .section4 {
    flex-direction: column;
  }
}
/* section 4 3nd */

/* section 5  */
.section5Container > div {
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
}
.section5Container > div .img{
  width: 30%;
}
.section5Container > div .body  {
  width: 70%;
}
.section5Container > div .body h3 {
  font-size: 1rem;
  text-transform: uppercase;
}
.section5Container > div .body h1 {
  font-size: 1rem;
}
@media (max-width: 768px){
  .section5Container > div .body h3 {
    font-size: .8rem;
  }
  .section5Container > div .body h1 {
    font-size: .8rem;
  }
  .section5Container > div .body p {
    font-size: .8rem;
  }
}
@media (max-width: 439px){
  .section5Container > div {
    flex-direction: column;
    align-items: flex-start;
  }
  .section5Container > div .img {
    width: 100%;
  }
  .section5Container > div .body {
    width: 100%;
  }

}
/* section 5 end */
