.topHeader {
  background-color: #f2f2f2;
  background-color: #e12327;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  gap: 10rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.topHeader > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.topHeader > div .H-heading {
  text-transform: uppercase;
}
.topHeader > div h3 {
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #6a0505;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-logo img {
  width: 100px;
}
.main-logo {
  position: relative;
}
.main-logo > .date {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.main-logo > .date p {
  font-size: 12px;
  font-weight: bold;
}
.searchBar {
  position: absolute;
  right: 25px;
  bottom: 10px;
}
.searchBar i {
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}
.searchBar i:hover {
  color: #67baf1;
  transform: scale(1.3);
}
.searchBarContainer {
  position: absolute;
  right: 30px;
  bottom: -35px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 350px;
  z-index: 9;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

@media (max-width: 500px) {
  .searchBarContainer{
    width: 250px;
  }
  
}
.searchBarContainer.activeSI{
  visibility:visible;
  opacity: 1;
}

.searchBarContainer > input {
  width: 100%;
  height: 100%;
  border: none;
}
.searchBarContainer > input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.searchBarContainer .searchClickIcon {
  margin-right: 10px;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: center;
  /* background-color: #222; */
}
nav > ul {
  display: flex;
  gap: 0.5rem;
}
nav ul li {
  padding: 10px;
  display: inline-block;
  position: relative;
}

nav ul li a {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #67baf1;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

/* Hover effect */
nav ul li a:hover {
  color: #67baf1;
  transform: translateY(-3px);
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(45deg, #fff, #f3f3f3);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
  z-index: 99;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 200px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.dropdown li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
nav > ul > li:hover > .dropdown {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .topHeader > div h3 {
    font-size: 10px;
  }
}

@media (max-width: 457px) {
  .main-logo .mainLogo {
    width: 80px;
    /* border: 1px solid red; */
  }
  .main-logo .mainLogo img {
    width: 100%;
  }
  .main-logo .date {
    display: none;
  }
}
.mobScreen {
  display: none;
}

@media (max-width: 992px) {
  .largeScreen {
    display: none;
  }
  .mobScreen {
    display: block;
  }
  .crossIcon > div {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 20px;
  }
  .navActiveIcon {
    padding: 10px;
    font-size: 20px;
  }
  .mobNav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;
    height: 100vh;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    left: -100%;
    transition: all 0.3s;
  }
  .mobNav.activeN {
    /* display: block; */
    left: 0;
  }
  .mobNav ul {
    display: flex;
    flex-direction: column;
  }
  .mobNav ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  .mobNav ul .dropLink {
    display: flex;
    justify-content: space-between;
  }
  .mobNav ul li .mobDropdown {
    margin-top: 10px;
    margin-left: 5px;
    display: none;
  }
  .mobNav > ul > li > .mobDropdown.activeD {
    display: block;
  }
  .mobNav > ul > li > .mobDropdown.activeD1 {
    display: block;
  }
  .mobNav ul li .mobDropdown li {
    padding: 8px;
  }
  .mobNav ul li .mobDropdown li a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
  }
  .mobNav ul li a {
    color: black;
  }
}
@media (max-width: 569px) {
  .mobNav {
    width: 70%;
  }
}
@media (max-width: 365px) {
  .mobNav {
    width: 100%;
  }
}

.swiper .swiper-button-prev {
  font-size: 3px;
  color: white;
  --swiper-navigation-size: 30px;
}
.swiper .swiper-button-next {
  font-size: 3px;
  color: white;
  --swiper-navigation-size: 30px;
}
