.postsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 768px) {
  .postsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 457px) {
  .postsContainer {
    grid-template-columns: 1fr;
  }
}
.postsContainer > div {
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.postsContainer > div .body h3 {
  font-size: 0.8rem;
}
.postsContainer > div .body h1 {
  font-size: 0.8rem;
}
.postsContainer > div .body p {
  font-size: 0.7rem;
}
.postDetailPage {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.postDetailPage .title h1 {
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #333; 
}
@media (max-width: 600px) {
  .postDetailPage .title h1 {
    font-size: 20px;
  }
}
.postDetailPage .content p {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.7;
}



/*  */
.AwesomeCommentSection {
  margin-top: 1rem;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commentTitle {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentTitle h3 {
  color: #333;
}

.commentTitle p,
.commentTitle .note {
  color: #777;
}

.commentTitle .note {
  font-style: italic;
}

.commentContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.inputGroup {
  position: relative;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.submitBtn button {
  margin-top: 15px;
  background-color: #3498db; 
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.submitBtn button:hover {
  background-color: #2980b9; 
}

.submitBtn button:active {
  transform: translateY(1px);
}

.submitBtn button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

.recentPost {
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 1rem;
}
.recentPost .title {
  margin-bottom: 10px;
}
.recentPost > .postsC {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.recentPost > .postsC > div  {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 1rem;
}
.recentPost > .postsC > div .img {
  height: 200px;
}
.recentPost > .postsC > div .img img {
  height: 100%;
}
.recentPost > .postsC > div .body {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.recentPost > .postsC > div .body h3{
  font-size: .8rem;
}
.recentPost > .postsC > div .body h1{
  font-size: .8rem;
}
.recentPost > .postsC > div .body p{
  font-size: .8rem;
}

@media (max-width: 768px) {
  .recentPost > .postsC {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 486px) {
  .recentPost > .postsC {
    grid-template-columns: 1fr;
  }
}
.replyC {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-top: 15px;
  display: none;
}
.replyC.activeRS {
  display: block;
}
.replyC .inputS {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.replyC .inputS input {
  width: 100%;
  padding: 10px;
}
.replyC .inputS textarea {
  width: 100%;
  padding: 10px;
}

.tags {
  margin-top: 1rem;
  display: flex;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    align-items: center;
    gap: 10px;
}
.tags .title h3{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.tags .tagsC{
  display: flex;
  gap: 10px;
}
.tags .tagsC p{
  padding: 5px 12px;
  background-color: #333;
  color: white;
  border-radius: 3px;
}

@media (max-width: 770px){
  .tags .tagsC{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  
}
@media (max-width: 431px){
  .tags .tagsC{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .tags .tagsC p{
    font-size: 14px;
  }
  
}
@media (max-width: 323px){
  .tags{
    display: flex;
    flex-direction: column;
  }
  .tags .tagsC{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .tags .tagsC p{
    font-size: 14px;
  }
  
}
.postsPage > div .body h1{
  font-size: 1.5rem;
  }
@media (max-width: 1200px){
  .postsPage > div .body h1{
  font-size: 1.5rem;
  }
}
@media (max-width: 768px){
  .postsPage > div .body h1{
  font-size: 1rem;
  }
  .postsPage > div .body h3{
  font-size: .8rem;
  }
  .postsPage > div .body p{
  font-size: .8rem;
  }
}
@media (max-width: 414px){
  .postsPage > div .body h1{
  font-size: .7rem;
  }
  .postsPage > div .body h3{
  font-size: .5rem;
  }
  .postsPage > div .body p{
  font-size: .5rem;
  }
}

.commentsSection{
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    margin: 2rem 0;
    padding: 2rem;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}
.commentsContent{
  margin-top: 1rem;
  margin-left: .5rem;
}
.comment{
  margin-top: 2rem;
  /* border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 
}
.comment .mainComment{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mainComment > .date {
  display: flex;
  justify-content: space-between;
}
.mainComment > .date button {
  padding: .5rem 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
    transition: all .3s;
}
.mainComment > .date button:hover{
  transform: scale(1.1);

}

.replyArea{
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 10px;

}
.replyArea .replyAreaTitle h3{
  font-size: 1rem;
}
.replyContent{
  margin-top: 1rem;
  /* border-right: 1px solid rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom:1px solid rgba(0,0,0,0.3) ;
  padding-bottom: 10px;
}
.replyContent > h3{
  font-size: 1rem;
}
.replyContent > p{
  font-size: .9rem;
}
.replyContent > .date {
  display: flex;
  justify-content: space-between;
}
.replyContent > .date p{
  font-size: .9rem;
}
.replyContent > .date button{
  padding: .5rem 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
    transition: all .3s;
}
.replyContent > .date button:hover{
  transform: scale(1.1);

}