.searchContainer {
  position: fixed;
  right: 0;
  background-color: #f2f2f2;
  height: 100vh;
  top: 0;
  z-index: 999;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden; /* Hide content that overflows the container */
  transform: translateX(110%); /* Move off-screen initially */
  transition: transform 0.3s ease; /* Add a smooth transition to the transform property */
}


.searchContainer.activeSearch {
  transform: translateX(0); /* Move on-screen when activeSearch class is added */
}
@media (max-width: 448px) {
  .searchContainer{
    width: 100%;
  }
  
}


.searchCrossIcon{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 20px;
}
.searchCrossIcon i{
  cursor: pointer;
  transition: all .3s;
}
.searchCrossIcon i:hover{
  transform: rotate(180deg) scale(1.3);
}
.searchInput {
  padding: 1rem;
  position: relative;
}
.searchInput i {
  position: absolute;
  right: 7%;
  top: 40%;
  color: rgba(0, 0, 0,0.5 );
}

.searchResult {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 10px;
  padding: 10px;
}
.searchResult > div {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchResult > div .img {
  width: 40%;
  background-color: red;
}
.searchResult > div .img img {
  width: 100%;
}
.searchResult > div .body {
  margin-top: 10px;
}
.searchResult > div .body h3{
  font-size: 10px;
  text-transform: uppercase;
}
.searchResult > div .body h1{
  font-size: 14px;
}
.searchResult > div .body p{
  font-size: 11px;
}

@media (max-width: 374px) {
  
 .searchResult  > div .body h1{
  font-size: 10px;
 } 
}